## Big datasets that can be regenerated
data/archive.zip
data/metadata_orx-datahub.csv
retrieved_data/

## DatorCloud
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/datorcloud-cli/*.tar
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.venv/
venv/

## MkDocs site
site/
_site_check/

## DuckDB files
*.db
*.ddb

## docker images
*.tar.env.prod
docker/*

## .env file
.env.prod

## DuckDB UI script
start-duckdb.sh